.navbar .nav > li > span{
  float: right;
  padding: 1px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.navbar .nav > li > span > a {
  color: #999;
  text-decoration: none;
  float: right;
}


.navbar .nav > li > span > a:focus,
.navbar .nav > li > span > a:hover {
  color: #FFF;
  text-decoration: none;
  background-color: transparent;
}

